//
// Dependency
//
@import "normalize.less";
@import "pygments.less";
@import "preboot.less";

body {
	background-color: #eee;
}

.row {
	.make-row();
}

.container {
	width: 940px;
	.center-block();
	.clearfix();
}

.thumbnail {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #f9f9f9;
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 10px;
}

.mini-vid {
	padding: 6px;
	border: 1px solid #e9e9e9;
	min-height: 20px;
	width: 24%;
	float: left;
	margin-left: 1%;
	.box-sizing(border-box);

	&:first-child {
		margin-left: 0;
	}
}